:root {
	--inp-active: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
	--inp-error: hsl(0, 100%, 66%);

	--neutral: hsl(0, 0%, 100%);
	--txt-soft-cl: hsl(270, 3%, 87%);
	--txt-med-cl: hsl(279, 6%, 55%);
	--txt-str-cl: hsl(278, 68%, 11%);

	--fsize-btn: 1.2rem;
	--fsize-label: 0.9rem;
	--fs-front-mobile: 1.3rem;
	--fs-back-mobile: 0.9rem;
	--ffamily: 'Space Grotesk', sans-serif;
	--fweight: 500;
}
/* ---- */

body {
	font-size: var(--fsize);
	font-family: var(--ffamily);
}

#cards {
	position: relative;
}

#cards::before {
	/* Background */
	content: '';
	background: url(../assets/images/bg-main-mobile.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 20rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.container {
	/*Controla a expansão do conteúdo*/
	position: relative;
	max-width: 25rem;
	min-height: 27rem;
	margin-inline: auto;
}

.card {
	display: flex;
	flex-direction: column;
	border-radius: 9px;
	color: var(--txt-soft-cl);
	position: absolute;
}

.card--front {
	background: url(../assets/images/bg-card-front.png) center no-repeat;
	background-size: cover;
	padding: 1.2rem 2rem 1.2rem 1.2rem;
	z-index: 5;
	top: 11rem;
	left: 1rem;
}

.card__number {
	letter-spacing: 0.1rem;
	margin-top: 2.3rem;
	font-size: var(--fs-front-mobile);
}

.card__details {
	display: flex;
	justify-content: space-between;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin-block: 1rem 0.2rem;
}

.card--back {
	background: url(../assets/images/bg-card-back.png) center no-repeat;
	background-size: contain;
	font-size: var(--fs-back-mobile);
	align-items: flex-end;
	justify-content: center;
	min-width: 20rem;
	min-height: 13.2rem;
	top: 3rem;
	right: 1rem;
}

.card__cvc {
	padding-right: 3rem;
}

/* ------ Form Section */
.formfield {
	max-width: 88%;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.formfield__fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.formfield__label {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: var(--fsize-label);
}

.formfield input {
	padding: 0.6rem 1rem;
	border: 1px solid var(--txt-soft-cl);
	border-radius: 8px;
	font-size: 1.1rem;
	color: var(--txt-str-cl);
}

.formfield input::placeholder {
	color: var(--txt-soft-cl);
}

.formfield input:focus {
	outline: none;
	background: linear-gradient(#fff, #fff) padding-box,
		linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
	border: 1px solid transparent;
}

.field__holder {
	display: flex;
}

.formfield__fieldset--date {
	width: 100%;
}

.formfield__fieldset--cvc {
	width: 40%;
}

.formfield__month,
.formfield__year {
	width: 5.2rem;
}

.formfield__btn {
	border-style: none;
	background: var(--txt-str-cl);
	color: var(--neutral);
	border-radius: 8px;
	padding: 1rem;
	font-size: var(--fsize-btn);
	cursor: pointer;
	margin-top: 0.5rem;
}
